
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(rgba(70, 67, 67, 0.4), rgba(11, 11, 11, 0.4)),
    url('./Images/login page images.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background: #fefefe;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(21, 21, 21, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #0d0d0d;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  color: #0d0d0d;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #262525;
  border-radius: 5px;
}

button {
  background-color: #0052cc;
  color: #f1eded;
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #547bb0;
}

.note {
  margin-top: 15px;
  font-size: 13px;
  color: #9e9797;
}