body {
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
}

.page-title {
  text-align: center;
  margin: 20px 0;
  font-size: 44px;
  text-decoration-color: rgb(12, 7, 0);
}

/* Department section */
.subject {
  width: 85%;
  margin: 30px auto;
}

/* Header row */
.subject-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-header h2 {
  margin: 0;
  font-size: 18px;
}

/* View more */
.view-more {
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
  white-space: nowrap;
  
}

/* Books row */
.books-row {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* Hide scrollbar (optional) */
.books-row::-webkit-scrollbar {
  height: 6px;
}
.books-row::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Book card */
.book {
  min-width: 150px;
  max-width: 150px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.book img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.book-author {
  font-size: 11px;
  color: #dc0909;
}


.book p {
  font-size: 16px;
  margin-top: 8px;
  color: #0f0303;
  
}

.book-title {
  font-weight: bold;
  margin: 5px 0;
}

.book-container {
  margin-top: 20px;
}

